.cart-header {
  position: fixed;
  top: 1;
  background-color: rgba(0,0,0, 0.8);
  color: white;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item-list {
  margin-top: 5rem;
}
.cart-item-image {
  width: 50px;
}
.cart-item-card {
  border: 1px solid black;
  padding: 1rem;
}
.quantity-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  max-width: 320px;
  margin-top: 0.5rem;
}
.quantity-button {
  padding: 0.25rem 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.1s ease-in-out all;
  width: 2rem;
  height: 2rem;
}
.decrease, .delete {
  background-color: tomato;
  flex: 1;
}
.increase {
  background-color: lightseagreen;
  flex: 1;
}
.quantity-button:active {
 transform: scale(0.9);
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 0.5rem;
}

.go-back {
  background-color: darkred;
  color: white;
  padding: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  font-weight: bold;
}
.go-back:hover {
  background-color: black;
  color: white;
}
.go-back:active {
  transform: scale(0.9)
}
.delete {
  color: white;
  padding: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
  text-transform: uppercase;
}

.checkout-button {
  padding: 0.5rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: white;
  background-color: royalblue;
  box-shadow: 0 0 10px orange;
  transition: 0.1s ease-in-out all;
  cursor: pointer;
}
.checkout-button:hover {
  color: royalblue;
  background-color: orange;
  box-shadow: 0 0 10px white;
}
.checkout-button:active {
  transform: scale(0.9);
}
