.app-header {
  background-color: orange;
  position: sticky;
  top: 0;
  padding: 1rem;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-name {
  font-family: 'Quicksand', sans-serif;
}
.links li {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.5rem;
  transition: ease-in-out all 0.1s;
}

.links li:hover {
  color: darkred;
}

.links li:active {
  transform: scale(0.9);
}

.links span {
  margin-left: 0.5rem;
}
.cart {
  position: relative;
}
.cart-total {
  background-color: red;
  padding: 0.25rem 0.5rem;
  border-radius: 500px;
  position: absolute;
  top: -20px;
  right: -25px;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .app-name {
    font-size: 1rem;
  }
}