.products-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.product-card {
  overflow: hidden;
  width: 300px;
  height: fit-content;
  border: 1px solid black;
  padding: 30px;
}
.product-image {
  width: 100%;
  max-width: 200px;
  display: block;
  object-fit: cover;
}