@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
/* css reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.app-header {
  background-color: yellow;
  position: sticky;
  top: 0;
  padding: 1rem;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.8);
}


